

#body {
background:url("../images/background.jpg");


}

.container{
width=960px;
}

.span8{
margin-left:320px;

}

#footer{
height:50px;
background: white;
margin-top:20px;
}

#sidebar{
position:fixed;
margin-top:20px;
margin-left:0px;

}

#maincontent{
width: 640px;
background:white;
height:920px;
margin-top:20px;

}

#banner{
height:100px;
background: white;

}
