

.status{
background:url(../images/buttons/btnbkgrnd.png) no-repeat;
color:white;
}


ul {
list-style-type: none;
padding-left: 15px;
margin: 5px ;
font-size:15px;
padding-bottom:15px;

}

#blurb{
 padding:10px;

}

#navbuttons {
width:300px;
height:27px;
border-style:solid;
border-width: 0px 0px 1px 0px;

}
#navbuttons2 {
width:300px;
height:27px;
border-style:solid;
border-width: 0px 0px 1px 0px;

}

#navbuttons2 a {
margin-left:3px;
font-size:13px;
padding: 10px 2px 5px 2px;
color:#b6f3c7;
text-decoration: none;
}

#navbuttons2   a:hover{
margin-left:3px;
font-size:13px;
padding: 10px 2px 5px 2px;
color: white;
text-decoration: underline;
}


#navbuttons a{
font-size:13px;
padding: 10px 7px 5px 7px;
color:#b6f3c7;
text-decoration:none;
}



#navbuttons    a:hover{
font-size:13px;
color:white;
padding: 10px 7px 5px 7px;
text-decoration: underline;
}

#body {
background:url("../images/backgroundmain.png");


}

#navbuttons2 li{
float:left;
padding-left:0px;
font-style:  ;
color:white;
}

#navbuttons li{
float:left;
padding-left:0px;
font-style:  ;
color:white;
}

.container{
width=960px;

}

.span8{
margin-left:320px;

}

#footer{
height:50px;
background: url("../images/background.png");
margin-top:20px;
border: 1px solid #790b2d;
}

#footer li{
padding: 10px 0px 0px 20px;
float:left;

}

#sidebar{
position:fixed;
margin-top:20px;
margin-left:0px;

}



#maincontent{
background:url("../images/background.png");
width: 640px;

height:1020px;

margin-top:20px;
border: 1px solid #790b2d;

}

#bannerclick{
display:block;
height:120px;
width:450px;
z-index:1;
position:absolute;

}

#maincontent .row{
border-style: solid;
border-width: 0px 0px 1px 0px;
margin-left: 10px;
margin-right:10px;
padding-top:10px;
padding-bottom:10px;

}





#banner{
height:100px;
background: url("../images/banner2.png");
border: 1px solid #790b2d;
-webkit-border-radius: 0px 0px 0px 20px;
}
/* Content Styles*/

.dividers{
border-bottom: 1px;
border-style: solid;
border-right-width: 0px;
border-left-width: 0px;
border-top-width: 0px;
border-bottom-width: 1px;
border-color: black;
/*padding-bottom: 10px;*/
/*padding-top: 10px;*/
/*margin-top: 20px; */
/*height: 80px;*/
margin-left: 20px;
margin-right:20px;
width: 600px;
height: 80px;
}

.content_style{
    margin-top:10px;    
}
